.tableWrapper {
  width: calc(100% - 24px);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  font-size: 13.5px;
  box-shadow: var(--box-shadow);
}

.tableWrapper svg {
  margin: 0 4px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
